/.terraform.lock.hcl
/terraform.tfstate
/terraform.tfstate.backup
/.terraform/
/.idea/
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/.terraform
/terraform/.terraform.lock.hcl
/terraform/.terraform.tfstate.lock.info
.DS_Store